<!DOCTYPE html>
{% extends 'layout.html' %}


{% block body %}


    <h1>About Me</h1>
    <p>
        Full stack software engineer with expertise in APIs and web services. Comfortable
        implementing great user experiences, managing server side scalability and concurrency,
        and designing database schemas. Experienced in building sophisticated distributed
        systems using REST web APIs (SOA). Product focused and deeply passionate about
        solving interesting problems.
    </p>
 
{% endblock %}