<!DOCTYPE html>
{% extends 'layout.html' %}


{% block body %}
    
    <div class="jumbotron text-center">
        <h1>Welcome to my Code Challenge</h1>
        <p class="lead">
            This application will be using the LaunchKey Authenticator framework for user authentication
        </p>
    </div>
 
    <div class="container">
        <div class="row">
            <div class='col-md-3'></div>
            <div class="col-md-6">
                <div class="login-box well">
                    <h1 style="text-align:center">Account Login </h1>
                    {% from "_loginForm.html" import render_field %}
                    <form action="{{ url_for('login') }}" method="post" id="logInForm">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.username, class="form-control", placeholder="username") }}
                        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submitBtn">login</button>
                    </form>
                    
                    {% if errorMsg %}
                        <div class="alert alert-warning" role="alert">
                            {{ errorMsg.msg }}
                        </div>
                
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#stackMsg">See stack trace</button>
                        <div id="stackMsg" class="collapse">
                            {{ errorMsg.stackTrace }}
                        </div>
                    {% endif %}
                    <br/>
                </div>
            </div>
            <div class='col-md-3'></div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->

    
{% endblock %}